* {
  font-family: fantasy;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
text-align: right;
margin: 0.5rem;
border-bottom: 6px double black;
height: 4rem;
}

.icon {
  height: 2rem;
}

main {
  display: flex;
  margin: 1rem;
  height: 80vh;
}

main section {
  flex-basis: 50%;
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  background-color: rgb(51, 131, 222);
  border-radius: 20rem;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 5rem;
  margin-right: 5rem;
  border-left: 6px double black;
}

.boxes h4 {
  display: flex;
  justify-content: center;
}

.boxes h5 {
  padding-top: 3rem;
  justify-content: left;
}

.link {
  display: flex;
  margin-top: 4rem;
  background-color: black;
  color: white;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  justify-content: center;
}



