* {
  font-family: fantasy;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

header {
  text-align: right;
  border-bottom: 6px double black;
  height: 10vh;
}

.icon {
  height: 2rem;
}

main {
  display: flex;
  height: 90vh;
}

main section {
  flex-basis: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  background-color: rgb(51, 131, 222);
  border-radius: 20rem;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  border-left: 6px double black;
  padding-left: 15px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.boxes h4 {
  display: flex;
  justify-content: center;
}

.boxes h5 {
  padding-top: 3rem;
  justify-content: left;
  padding-left: 5px;
}

input,
textarea {
  width: 100%;
}

.boxes div {
  margin-top: 30px;
  width: 100%;
}

.link {
  display: flex;
  margin-top: 4rem;
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  justify-content: center;
}

h1 {
  float: left;
  margin-left: 10px;
  margin-top: 0.5rem;
}

.dark .boxes {
  border-color: white;
}

.dark .link {
  border-color: white;
}

.space {
  height: 40px;
  margin: 4px;
}
